@font-face {
  font-family: Friend;
  src: url(../public/fonts/Friend.otf);
}
@font-face {
  font-family: Roundo;
  src: url(../public/fonts/Roundo-Regular.otf);
}
@font-face {
  font-family: Roundo-Bold;
  src: url(../public/fonts/Roundo-SemiBold.otf);
}
body {
  margin: 0;
  height: 120vh;
  background-size: 150vw 150vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
*,
*:before,
*:after {
  font-family: Roundo;
  box-sizing: border-box;
}
h1 {
  font-family: Roundo-Bold;
}
.cloudy {
  background-image: url(/public/img/clound.jpg);
}
.clear {
  background-image: url(/public/img/sunny.jpg);
}
